.containerCard{
    display: flex;
    width: 343px;
    height: 88px;
    margin: 38px 30px;
    cursor: pointer;
}

.cardImg img{
    width: 87px;
    height: 89px;
    border-radius: 8px;
}

.infoCard{
    margin-left: 18px;
}


